/*верстка под планшет*/
.footer {
  background: url("../img/main/fon.png");
  background-position: center;
  background-color: #ffdac0;
  padding: 120px 0;
}
@media (max-width: 689px) {
  .footer {
    padding: 60px 0;
  }
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 689px) {
  .footer__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
}
.footer__content .logo {
  margin-bottom: 50px;
}
@media (max-width: 689px) {
  .footer__content .logo {
    margin-bottom: 0;
  }
}
.footer__content--logo {
  width: 362px;
}
@media (max-width: 967px) {
  .footer__content--logo {
    width: auto;
  }
}
.footer__content--contact a {
  padding-top: 20px;
  color: #000;
  width: 182px;
}
.footer__content--contact h3 {
  padding-bottom: 14px;
}
.footer__content--main {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__content--main button {
  padding-top: 20px;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.footer__content--main h3 {
  padding-bottom: 14px;
}
@media (max-width: 689px) {
  .footer__content--main {
    display: none;
  }
}
.footer__content:nth-child(3n) {
  padding-right: 0;
}
.footer__content .nav__link {
  margin-top: 0px;
}
.footer__course {
  margin-bottom: 18px;
  color: #79675f;
}
@media (max-width: 689px) {
  .footer__course {
    display: none;
  }
}
@media (max-width: 689px) {
  .footer__brow {
    display: none;
  }
}
