.footer {
  margin-top: 160px ;
}
.footer-block {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.footer-block .logo {
  width: 127px;
  height: 134px;
}
.footer-block .logo img {
  width: 100%;
  height: 100%;
}
.footer-block .list-menu {
  margin-left: 20%;
}
