/*верстка под планшет*/
/*Обнуление*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  /*font-size: 100%;
    line-height: 1;
    font-size: 14px;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  /*list-style: none;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-size: inherit;
 font-weight: inherit;*/
}
/*----Обнуление-----*/
/* 

404 сделать надо
не сделано уведомление при отправки сообщении
 
отправка в телеграмм  работает,
php файл при отправки формы показывает страницу 

*/
body {
  margin: 0 auto;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}
body.no-scroll {
  overflow: hidden;
}
@media (max-width: 689px) {
  body {
    font-size: 14px;
  }
}
/*Заголовки постоянные*/
h1 {
  font-size: 64px;
  font-family: "Conv_Zetafonts - Lovelace Text Regular";
  line-height: 65px;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 689px) {
  h1 {
    line-height: 36px;
    font-size: 36px;
  }
}
h2 {
  font-size: 48px;
  font-family: "Conv_Zetafonts - Lovelace Text Regular";
  line-height: 48px;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 689px) {
  h2 {
    font-size: 36px;
    line-height: 36px;
  }
}
h3 {
  font-size: 24px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 689px) {
  h3 {
    font-size: 18px;
    line-height: 18px;
  }
}
/*Отступы постоянные*/
h4 {
  font-size: 14px;
  font-family: "Conv_Zetafonts - Lovelace Text Regular";
  line-height: 14px;
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1226px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 689px) {
  .container {
    padding: 0 16px;
  }
}
/* Block */
.block_btn {
  margin-top: 40px;
}
.btn {
  width: 412px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  font-family: "Georgia";
  font-weight: normal;
  font-style: normal;
  color: #000000;
  cursor: pointer;
}
@media (max-width: 689px) {
  .btn {
    font-size: 14px;
    width: 287px;
    height: 47px;
  }
}
@media (max-width: 430px) {
  .btn {
    width: 232px;
    height: 33px;
  }
}
.btn::before {
  content: "";
  width: 412px;
  height: 68px;
  border: 1px solid #79675f;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}
@media (max-width: 689px) {
  .btn::before {
    width: 287px;
    height: 47px;
  }
}
@media (max-width: 430px) {
  .btn::before {
    width: 232px;
    height: 33px;
  }
}
.btn::after {
  content: " ";
  width: 412px;
  height: 68px;
  border: 1px solid #79675f;
  border-radius: 50%;
  transform: rotate(-4deg);
  position: absolute;
  cursor: pointer;
}
@media (max-width: 689px) {
  .btn::after {
    width: 287px;
    height: 47px;
  }
}
@media (max-width: 430px) {
  .btn::after {
    width: 232px;
    height: 33px;
  }
}
.btn:hover::after,
.btn:hover::before {
  border: 1px solid #fff;
}
.btn__scroll {
  width: 166px;
  height: 166px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: absolute;
  right: 0;
}
.btn__scroll:hover {
  border: 1px solid #fff;
}
@media (max-width: 850px) {
  .btn__scroll {
    width: 98px;
    height: 98px;
    top: 25%;
  }
  .btn__scroll img {
    height: 52px;
  }
}
@media (max-width: 430px) {
  .btn__scroll {
    width: 41px;
    height: 41px;
    position: fixed;
    right: 16px;
  }
  .btn__scroll img {
    height: 22px;
  }
}
.logo img {
  width: 100%;
}
@media (max-width: 689px) {
  .logo {
    width: 65px;
    height: 57px;
  }
}
.header {
  width: 68px;
  height: 622px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
}
@media (max-width: 1030px) {
  .header {
    height: auto;
  }
}
@media (max-width: 689px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 689px) {
  .header {
    width: auto;
  }
}
.header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header__block:hover {
  color: #fff;
}
@media (max-width: 689px) {
  .header__block .header__burger {
    order: 2;
    margin-left: 10px;
  }
  .header__block .header__contact {
    order: 1;
    margin-left: 10px;
  }
}
@media (max-width: 689px) {
  .header__block--burger {
    order: 2;
  }
}
@media (max-width: 1030px) {
  .header__block--ig {
    margin-top: 72px;
  }
}
@media (max-width: 689px) {
  .header__block--ig {
    margin-top: 0;
    order: 1;
  }
}
@media (max-width: 689px) {
  .header__block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.burger__icon {
  display: block;
  width: 43px;
  height: 30px;
  stroke: #79675f;
}
@media (max-width: 430px) {
  .burger__icon {
    width: 34px;
    height: 24px;
  }
}
.contact__icon {
  width: 43px;
  height: 50px;
  fill: #79675f;
}
@media (max-width: 430px) {
  .contact__icon {
    width: 34px;
    height: 35px;
  }
}
.ig__icon {
  width: 56px;
  height: 47px;
  fill: #79675f;
}
@media (max-width: 430px) {
  .ig__icon {
    width: 38px;
    height: 32px;
  }
}
.contact__icon:hover,
.ig__icon:hover,
.burger__icon:hover {
  fill: #fbe6dc;
  stroke: #fbe6dc;
}
.contact__icon:active,
.ig__icon:active,
.burger__icon:active {
  fill: #fbe6dc;
  stroke: #fbe6dc;
}
.header__burger {
  display: block;
  width: 44px;
  height: 28px;
}
.nav__burger {
  display: none;
  width: 284px;
  height: 320px;
  border-radius: 61px 0 0 61px;
  background: #f3cfb7;
  position: absolute;
  right: 68px;
}
@media (max-width: 689px) {
  .nav__burger {
    right: 0;
    top: 73px;
    border-radius: 0 0 61px 61px;
  }
}
@media (max-width: 360px) {
  .nav__burger {
    width: 280px;
  }
}
.nav__contact {
  display: none;
  width: 284px;
  height: 276px;
  border-radius: 61px 0 0 61px;
  background: #f3cfb7;
  position: absolute;
  right: 68px;
  top: 73px;
}
.nav__contact a {
  margin-top: 48px;
  color: #000;
}
@media (max-width: 689px) {
  .nav__contact {
    height: 320px;
    right: 0;
    padding: 34px 0 82px 0;
    border-radius: 0 0 61px 61px;
  }
}
@media (max-width: 360px) {
  .nav__contact {
    width: 280px;
  }
}
.burger_show,
.contact_show {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__link {
  margin-top: 48px;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
.main_header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
}
@media (max-width: 689px) {
  .main_header {
    background: url("../img/main/fon.png") center;
    position: fixed;
    background-color: #caa287;
    margin: -16px;
    padding: 16px;
  }
}
.main_header .header__contact {
  margin-top: 40px;
}
@media (max-width: 1030px) {
  .main_header .header__contact {
    margin-top: 72px;
  }
}
@media (max-width: 689px) {
  .main_header .header__contact {
    margin-top: 0;
  }
}
.main {
  background: url("../img/main/fon.png") center;
  background-color: #d7ad91;
  height: 784px;
  padding-top: 16px;
  margin: 0 auto;
}
@media (max-width: 1030px) {
  .main {
    height: 1078px;
  }
}
@media (max-width: 967px) {
  .main {
    height: 888px;
  }
}
@media (max-width: 689px) {
  .main {
    position: relative;
    height: 693px;
  }
}
.main__block {
  position: relative;
  max-width: 1146px;
  height: 768px;
}
@media (max-width: 1030px) {
  .main__block {
    height: 1062px;
  }
}
@media (max-width: 967px) {
  .main__block {
    height: 872px;
  }
}
@media (max-width: 689px) {
  .main__block {
    position: static;
    height: 683px;
  }
}
.brow {
  display: flex;
  padding-top: 165px;
  margin-left: -140px;
}
@media (max-width: 1030px) {
  .brow {
    max-width: 1130px;
    margin: 0 0 0 0;
    padding-top: 120px;
    flex-wrap: wrap;
  }
}
.brow__left {
  width: 400px;
  height: 603px;
}
.brow__left img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1030px) {
  .brow__left img {
    transform: scale(-1, 1);
  }
}
@media (max-width: 1030px) {
  .brow__left {
    order: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 430px;
    height: 603px;
  }
}
@media (max-width: 967px) {
  .brow__left {
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 689px) {
  .brow__left {
    width: 203px;
    height: 275px;
  }
}
@media (max-width: 360px) {
  .brow__left {
    width: 153px;
    height: 185px;
  }
}
@media (max-width: 1030px) {
  .brow__right {
    order: 1;
    width: 100%;
  }
}
.title_h2 {
  margin-bottom: 18px;
}
.title_h2 span {
  color: #79675f;
}
@media (max-width: 689px) {
  .title_h2 {
    margin-bottom: 14px;
  }
}
.title_h1 {
  margin-bottom: 27px;
}
@media (max-width: 689px) {
  .title_h1 {
    margin-bottom: 14px;
  }
}
.title_h3 {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}
.title_h3 hr {
  display: inline-block;
  margin-right: 16px;
  width: 50px;
  height: 1px;
  background-color: #000;
}
@media (max-width: 689px) {
  .title_h3 {
    max-width: 248px;
    margin-bottom: 21px;
  }
}
.course {
  background: url("../img/main/fon.png");
  background-position: center;
  background-color: #ffdac0;
  padding: 120px 0;
}
@media (max-width: 689px) {
  .course {
    padding: 60px 0;
  }
}
.course .title_h2 {
  margin: 0 0 92px 0;
  width: 460px;
}
@media (max-width: 689px) {
  .course .title_h2 {
    margin: 0 0 48px 0;
    width: 288px;
  }
}
@media (max-width: 360px) {
  .course .title_h2 {
    width: 100%;
  }
}
.course__block {
  min-height: 392px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
@media (max-width: 1166px) {
  .course__block {
    justify-content: space-evenly;
    min-height: 591px;
  }
}
.content_course__block {
  display: flex;
}
@media (max-width: 850px) {
  .content_course__block {
    padding-bottom: 24px;
  }
  .content_course__block:nth-child(6) {
    padding-bottom: 0;
  }
}
.course_left {
  width: 98px;
  height: 147px;
}
@media (max-width: 430px) {
  .course_left {
    width: 98px;
    height: 98px;
  }
}
.course_left img {
  width: 100%;
  height: 100%;
}
.course_right {
  max-width: 263px;
}
.course_right h3 {
  margin-bottom: 24px;
}
.rezult {
  background: url("../img/main/fon.png");
  background-position: center;
  background-color: #d7ad91;
  padding: 120px 0;
}
@media (max-width: 689px) {
  .rezult {
    padding: 60px 0;
  }
}
.rezult .title_h2 {
  margin: 0 0 92px 0;
  width: 460px;
}
@media (max-width: 689px) {
  .rezult .title_h2 {
    margin: 0 0 48px 0;
    width: 340px;
  }
}
@media (max-width: 360px) {
  .rezult .title_h2 {
    width: 100%;
  }
}
.rezult__block {
  min-height: 242px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
@media (max-width: 1166px) {
  .rezult__block {
    justify-content: space-evenly;
    min-height: 343px;
  }
}
.content_rezult__block {
  display: flex;
}
@media (max-width: 850px) {
  .content_rezult__block {
    padding-bottom: 24px;
  }
  .content_rezult__block:nth-child(6) {
    padding-bottom: 0;
  }
}
.rezult_left {
  width: 68px;
  height: 68px;
  margin-right: 30px;
}
@media (max-width: 430px) {
  .rezult_left {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
}
.rezult_left img {
  width: 100%;
  height: 100%;
}
.rezult_right {
  max-width: 262px;
}
.tariffs {
  background: url("../img/main/fon.png");
  background-position: center;
  background-color: #fff0e5;
  padding: 120px 0;
}
@media (max-width: 689px) {
  .tariffs {
    padding: 60px 0;
  }
}
.tariffs h2 {
  margin-bottom: 72px;
}
@media (max-width: 689px) {
  .tariffs h2 {
    margin-bottom: 48px;
  }
}
.tariffs__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1166px) {
  .tariffs__block {
    justify-content: center;
  }
}
.tariffs__content {
  width: 558px;
  border: 1px solid #000000;
  border-radius: 68px;
}
@media (max-width: 430px) {
  .tariffs__content {
    border-radius: 39px;
  }
}
.tariffs__content h3 {
  margin: 48px 0;
}
@media (max-width: 689px) {
  .tariffs__content h3 {
    margin: 28px 0;
  }
}
.tariffs__content p {
  margin: 0 0 22px 52px;
}
@media (max-width: 689px) {
  .tariffs__content p {
    margin: 0 0 22px 26px;
  }
}
.tariffs__content ul {
  margin-left: 68px;
  max-width: 392px;
}
@media (max-width: 689px) {
  .tariffs__content ul {
    margin-left: 34px;
  }
}
.tariffs__content li {
  margin-bottom: 22px;
}
@media (max-width: 1166px) {
  .tariffs__content:nth-child(odd) {
    margin-bottom: 78px;
  }
}
@media (max-width: 689px) {
  .tariffs__content {
    width: 440px;
  }
}
@media (max-width: 550px) {
  .tariffs__content {
    width: 340px;
  }
}
.tariffs_title {
  display: flex;
  justify-content: center;
}
.tariffs__content_stop {
  opacity: 30%;
}
.tariffs__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tariffs__price .title_h3 {
  margin: 12px 0;
}
@media (max-width: 689px) {
  .tariffs__price .title_h3 {
    margin: 7px 0;
  }
}
.tariffs__price h3 {
  margin-bottom: 24px;
}
.tariffs__price .block_btn {
  margin: 12px 0 48px 0;
}
@media (max-width: 689px) {
  .tariffs__price .block_btn {
    margin: 7px 0 28px 0;
  }
}
.works {
  background: url("../img/main/fon.png");
  background-position: center;
  background-color: #ffdac0;
  padding: 120px 0;
}
@media (max-width: 689px) {
  .works {
    padding: 60px 0;
  }
}
.works h2 {
  margin-bottom: 72px;
}
@media (max-width: 689px) {
  .works h2 {
    margin-bottom: 48px;
  }
}
.works__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works__content {
  max-width: 362px;
  max-height: 367px;
  margin: 0 30px 72px 0;
}
.works__content:nth-child(3n) {
  margin: 0 0 72px 0;
}
@media (max-width: 1166px) {
  .works__content {
    margin: 0 30px 72px 0;
  }
}
@media (max-width: 1030px) {
  .works__content:nth-child(3n) {
    margin: 0 30px 0 0;
  }
}
@media (max-width: 850px) {
  .works__content {
    max-width: 172px;
    max-height: 172px;
  }
}
@media (max-width: 689px) {
  .works__content {
    margin: 0 15px 36px 0;
  }
}
@media (max-width: 430px) {
  .works__content {
    margin: 0 15px 36px 0;
  }
  .works__content:nth-child(3n) {
    margin: 0 15px 36px 0;
  }
}
.works__content img {
  width: 100%;
}
.form {
  background: url("../img/main/fon.png");
  background-color: #d7ad91;
  padding: 120px 0 0 0;
  height: 883px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1440px) {
  .form {
    height: 883px;
  }
}
@media (max-width: 1030px) {
  .form {
    height: 1123px;
  }
}
@media (max-width: 689px) {
  .form {
    padding: 60px 0;
    height: 760px;
  }
}
.form h2 {
  margin-bottom: 72px;
  width: 558px;
}
@media (max-width: 689px) {
  .form h2 {
    margin-bottom: 24px;
    width: 288px;
  }
}
@media (max-width: 360px) {
  .form h2 {
    width: 100%;
  }
}
.form .block_btn {
  margin-top: 37px;
}
@media (max-width: 689px) {
  .form .block_btn {
    margin-top: 28px;
  }
}
.form__block {
  max-width: 1146px;
  height: 762px;
}
@media (max-width: 1030px) {
  .form__block {
    height: 1063px;
  }
}
@media (max-width: 689px) {
  .form__block {
    height: 700px;
  }
}
.form__group {
  margin-top: 24px;
}
@media (max-width: 689px) {
  .form__group {
    margin-top: 18px;
  }
}
.form__group:nth-child(1) {
  margin-top: 0;
}
.form__title h4 {
  margin-bottom: 6px;
}
.form__input {
  width: 656px;
  height: 62px;
  border-radius: 18px;
  border: 1px solid #000000;
  background: url("../img/main/fon.png");
  background-position: center;
  background-color: #d7ad91;
  padding-left: 16px;
}
@media (max-width: 689px) {
  .form__input {
    width: 343px;
    height: 39px;
  }
}
@media (max-width: 430px) {
  .form__input {
    width: 100%;
  }
}
.form__right {
  width: 509px;
  height: 759px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.form__right img {
  width: 100%;
}
@media (max-width: 689px) {
  .form__right img {
    height: 100%;
  }
}
@media (max-width: 1166px) {
  .form__right {
    width: 343px;
    height: 539px;
    bottom: -26px;
  }
}
@media (max-width: 689px) {
  .form__right {
    width: 170px;
    height: 248px;
    bottom: 0px;
  }
}
@media (max-width: 430px) {
  .form__right {
    width: 140px;
    height: 218px;
  }
}
.modal {
  display: none;
  width: 754px;
  height: 407px;
  overflow: auto;
  border-radius: 94px;
  background-color: #e8c2a9;
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.modal__dialog {
  width: 100%;
  position: relative;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.modal__close {
  width: 42px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.modal__close button:before {
  width: 1px;
  height: 42px;
  background-color: #000000;
}
.modal__close:hover {
  transform: translateY(-3px);
}
.modal__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal__content .title_h2 {
  padding-top: 115px;
  margin-bottom: 0;
}
.modal__content .title_h3 {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
}
.footer {
  background: url("../img/main/fon.png");
  background-position: center;
  background-color: #ffdac0;
  padding: 120px 0;
}
@media (max-width: 689px) {
  .footer {
    padding: 60px 0;
  }
}
.footer__block {
  display: flex;
  position: relative;
}
@media (max-width: 689px) {
  .footer__block {
    justify-content: space-between;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}
.footer__content .logo {
  margin-bottom: 50px;
}
.footer__content .nav__link {
  margin-top: 0px;
}
@media (max-width: 689px) {
  .footer__content .logo {
    margin-bottom: 0;
  }
}
.footer__content--logo {
  width: 362px;
}
@media (max-width: 967px) {
  .footer__content--logo {
    width: auto;
  }
}
.footer__content--contact a {
  padding-top: 20px;
  color: #000;
  width: 182px;
}
.footer__content--contact h3 {
  padding-bottom: 14px;
}
.footer__content--main button {
  padding-top: 20px;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  width: 94px;
}
.footer__content--main h3 {
  padding-bottom: 14px;
}
@media (max-width: 689px) {
  .footer__content--main {
    display: none;
  }
}
.footer__content:nth-child(3n) {
  padding-right: 0;
}
.footer__course {
  margin-bottom: 18px;
  color: #79675f;
}
@media (max-width: 689px) {
  .footer__course {
    display: none;
  }
}
@media (max-width: 689px) {
  .footer__brow {
    display: none;
  }
}
